

.gs-button {
    margin: 5px;
    width: 100px;
    height: 40px;

    background-color: #FFD92B;

    font-family: Menlo, serif;
    font-weight: bolder;
    /*border-radius: 15px 0 15px 0;*/
    border-style: solid;
    border-color: grey;
}

.gs-button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 8px #FFD92B;
}
